Body {  
    font-family: sans-serif;  
   background: rgb(32,158,214);
background: linear-gradient(90deg, rgba(32,158,214,1) 0%, rgba(226,151,230,1) 53%);;
}  
h1 {
	padding-bottom:10px;
	border-bottom : 1px solid #f4f4f4
}
button {
 font-size:15px;
  font-family:Arial;
  width:140px;
  margin:25px 10px;
  margin-left:75px;
  height:50px;
  border-width:1px;
  color:#fff;
  border-color:rgba(245, 253, 246, 1);
  font-weight:bold;
  border-top-left-radius:28px;
  border-top-right-radius:28px;
  border-bottom-left-radius:28px;
  border-bottom-right-radius:28px;
  background:#0047ab;
  padding:8px 30px;
}          
 form {   
       
 		width: 25%;
 		margin: 8% auto;
    }   
 input[type=text], input[type=password] {  
 	justify-content: center;  
        width: 90%;   
        margin: 8px 0;  
        padding: 10px 10px;   
        border:none;
        display: inline-block;   
        border-bottom: 1px solid gray;   
        box-sizing: borderrgb(192, 192, 192)   
    }  
 button:hover {   
        opacity: 0.7;   
    }   
   
        
     
 .container {   
  		  
      justify-content: center;
        padding: 15px;   
        background-color: #FFF8DC;  
        align-items:center;
        background: rgba( 255, 255, 255 );
        
    } 
  